@using DuyAnh.SaaS.Web.Areas.App.Models.Common.Modals

@model ModalHeaderViewModel

<div class="modal-header">
    <h4 class="modal-title">
        <span>@Html.Raw(Model.Title)</span>
    </h4>
  <button type="button" class="btn-close close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
