@using DuyAnh.SaaS.Web.Areas.App.Views.Shared.Components.AppSideBarMenu
@using DuyAnh.SaaS.Web.Areas.App.Views.Shared.Components.AppSideBarUserArea
<aside class="main-sidebar sidebar-light-info">
	@await Html.PartialAsync("_SideBar.Logo.cshtml")
	<div class="sidebar">
		@await Component.InvokeAsync(typeof(AppSideBarUserAreaViewComponent))
		@await Component.InvokeAsync(typeof(AppSideBarMenuViewComponent))
	</div>
</aside>
